^https?://developer\.aliyun\.com/developer/api/my/user/getUser url script-response-body https://raw.githubusercontent.com/5jwoj/BeRich/main/aliyun/aliyun_web_cookie_qx.js

[MITM]
hostname = developer.aliyun.com
